body {
    color: #000000;
    font-size: 17px;
    font-family: Cuprum, "PT Sans", Arial, Helvetica, sans-serif;    
    font-weight: normal;      
    line-height: 18px;
}
h1 {
    color: #000000;
    font-size: 30px;
    font-family: inherit;    
    font-weight: normal;      
    line-height: 30 px;
    text-transform: uppercase;
}
h2 {
    color: #ffffff;
    font-size: 24px;
    font-family: inherit;    
    font-weight: bold;      
    line-height: 30px;     
}